.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 1vmin);
  color: white;
  padding: 40px 24px;
  gap: 24px;
}

.MuiTableHead-root .MuiTableCell-root {
  font-weight: bold;
}

.drop_zone {
  min-height: 100%  !important;
}

.scrollView {
  min-width: 960px;
  width: 70vw;
  max-width: 1200px;
}

.matching-txns th,
.matching-txns td {
  color: #fff !important;
}